body{
    background-color: navy;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.resource-card{
    border: 2; 
    border-radius: 80%;
    border-color: white;
    border-style: dashed;
}
